@charset "UTF-8";
.fil4 {fill:#CC75EB}
.fil0 {fill:white}
.fil5 {fill:white;fill-rule:nonzero}
.fil2 {fill:url(#id0);fill-rule:nonzero}
.fil3 {fill:url(#id1);fill-rule:nonzero}
.fil1 {fill:url(#id2);fill-rule:nonzero}
